# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
out/
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
.DS_Store
*.tsbuildinfo
.vscode/
.idea/

# Vercel
.vercel 